////////////////////////////////
//Colors//
////////////////////////////////
$black: #000;
$dark-pink: #eed3d7;
$light-gray: #e9ebee;
$medium-gray: #999fa5;
$mint-green: #d6e9c6;
$pink: #f2dede;
$red: #b94a48;
$very-light-blue: #cfd8ec;
$white: #fff;
$light-green: #54a754;
$very-light-green: #36f677;
$dark-gray: #0d1117;
$medium-dark-gray: #161b22;

