// Grays
$black: #000;
$dark-gray: #0d1117;
$medium-dark-gray: #161b22;
$medium-gray: #999fa5;
$light-gray: #e9ebee;
$white: #fff;

// Blues
$very-light-blue: #cfd8ec;

// Reds
$red: #b94a48;

// Greens
$mint-green: #d6e9c6;
$light-green: #54a754;
$very-light-green: #36f677;

// Pinks
$dark-pink: #eed3d7;
$pink: #f2dede;

