{% load static i18n %}

<div class="m-b-1">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container p-0">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'images/favicon-1024.png' %}" width="30" height="30"
                                                  alt=""></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-9 p-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:list' %}">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'tools:encode' %}">URL Encode/Decode</a>
                                <a class="dropdown-item" href="{% url 'tools:date_parse' %}">Date Parsing</a>
                                <a class="dropdown-item" href="{% url 'tools:pprint' %}">Pretty Printing</a>
                            </div>
                        </li>
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" href='/about/'>About</a>#}
                        {#                        </li>#}
                    </ul>
                </div>
                <div class="col-md-3 p-0">
                    <ul class="navbar-nav float-right">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.get_name }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'accounts:account' %}">{{ user }}</a>
                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">Sign in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
